<%= form_for([@answer.question, @answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this @answer from being saved:</h2>
      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container col-6 mt-5">
    <div class="card text-center">
      <div class="card-header h2">
        <%= form_name %> Answer
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <div class="field">
            <%= f.text_field :name %>
          </div>
        </h4>
      </div>
      <div class="field mt-3">
        <%= f.label "Correct: " %>
        <%= f.check_box :correct, {checked: @answer.correct}  %>
      </div>
      <div class="card-footer text-muted">
        <div class="actions">
          <%= f.submit nil, class: 'btn btn-success'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
